.center {
  display: block;
  margin: 50px auto 0;
  width: 50%;
  max-width: 100%;
}

.center-image {
  display: flex;
  justify-content: center;
}

.center-image img {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  color: black;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: blue;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
  background-color: transparent;
  border-color: transparent
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators button {
  background-image: linear-gradient(to right, #007bff, #00bfff);
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.3s ease-in-out;
}

.carousel-indicators button:hover {
  background-position: right center;
}

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
    1px 2px 0px #08c8f6,
    1px 3px 0px #08c8f6,
    1px 4px 0px #08c8f6,
    1px 5px 0px #08c8f6,
    1px 6px 0px #08c8f6,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

#image {
  height: 836px;
  width: 264px;
}

#hicon {
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
}

#rarrow {
  font-size: 25px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

#bf,
#home {
  float: right;
  font-size: 25px;
  margin-right: 25px;
  color: black;
}

#home {
  float: left;
  cursor: pointer;
}

#larrow {
  float: left;
  margin-left: 25px;
  font-size: 25px;
  cursor: pointer;
}

#d {
  float: left;
  font-size: 25px;
  margin-left: 25px;
  color: black;
}

.card1 {
  position: relative;
  transition: 0.3s;
  border-radius: 10px;
  height: auto;
  width: auto;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 0 10px 5px #0070ff;
}


.card2 {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  height: auto;
  width: auto;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}

.card {
  position: relative;
  transition: 0.3s;
  border-radius: 25px;
  height: auto;
  width: auto;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 5px #0070ff;
  margin-bottom: 20px;
  margin-top: 25px;
}

p,
li {
  color: white;
  font-size: medium;
  margin-left: 25px;
  font-family: verdana;
  font-size: 18px;
}

.introh3 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5px;
  color: #3A9BDC;
}

.container{
  align-items: center;
  justify-content: center;
}
.img{
  float : left;
}
.text{
  float: left;
}

#img1,#img2,#img3{
  max-width: 100%;
  height: auto;
}
#img1:hover,#img1:hover,#img1:hover {
  box-shadow: 0px 0px 3px 3px blue;
  border: 5px solid blue;
  border-bottom: 5px solid blue;
}
.carousel-caption {
  max-width: 300px; 
  margin-left: 220px;
}
.carousel-caption-custom{
  max-width: 400px;
  bottom: 50px; 
  transform: translateY(-0px);
}

.custom-image{
  max-height: 600px;
}


  .carousel-caption {
    padding: 3px; /* Reduce the padding */
    margin-bottom: 60px;
  }

  .carousel-caption h2 {
    font-size: 20px; /* Reduce the font size for the title */
  }

  .carousel-caption p {
    font-size: 18px; /* Reduce the font size for the text */
  }

